@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "PTSerif";
  src: url('../fonts/PTSerif-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "BlissPro";
  src: url('../fonts/BlissPro-Light.woff2');
  font-weight: 300;
}